<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>@ViewBag.Title - My ASP.NET Application</title>

</head>
<body class="container body-content">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">Hoteleria 2020</a>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">@Html.ActionLink("Inicio", "Index", new { Controller = "Home" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Oferta", "Index", "Oferta", new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Mantenimiento", "Index", new { Controller = "Clientes" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Ayuda", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Usuario", "Index", "Usuario", null, new { @class = "nav-link" })</li>
            </ul>

        </div>
        <div>
            @{ Html.RenderPartial("WelcomeUser"); }
        </div>
    </nav>


    <div class="container body-content" id="bodycontainer">
        @if (TempData[alluberes.hosteleria.WebUI.Models.ComonFunctions.TAG_SUCCESS_MESSAGES] != null)
        {
            foreach (var msg in TempData[alluberes.hosteleria.WebUI.Models.ComonFunctions.TAG_SUCCESS_MESSAGES] as List<string>)
            {
                <div class="alert alert-success" role="alert">
                    @msg
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        }
        @if (TempData[alluberes.hosteleria.WebUI.Models.ComonFunctions.TAG_ERROR_MESSAGES] != null)
        {
            foreach (var msg in TempData[alluberes.hosteleria.WebUI.Models.ComonFunctions.TAG_ERROR_MESSAGES] as List<string>)
            {
                <div class="alert alert-danger" role="alert">
                    @msg
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        }

        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


